.account {
  position: relative;
  width: calc(100% -20px);
  background-color: #fff;
  padding: 10px;
  .title {
    position: relative;
    padding: 15px 0;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #f1f1f1;
  }
  .setting-list {
    position: relative;
    list-style: none;
    padding-left: 0;
    li {
      padding: 10px 0;
      border-bottom: 1px solid #f1f1f1;
      .inner-title {
        font-size: 18px;
        padding-bottom: 10px;
        color: #333;
      }
      .li-content {
        position: relative;
        display: flex;
        align-items: center;
        .li-left {
          flex: 1;
          img {
            width: 72px;
            height: 72px;
            margin-right: 10px;
          }
          input {
            display: inline-block;
            border: none;
            outline: none;
            color: #909090;
            font-size: 13px;
            width: 100%;
            &::placeholder{
              color:#ccc;
            }
          }
        }
        .li-right {
          p {
            display: inline-block;
          }
          .upload-tip {
            color: #909090;
            font-size: 13px;
            margin-bottom: 15px;
          }
          .upload-btn {
            appearance: none;
            background-color: #007fff;
            color: #fff;
            border-radius: 2px;
            border: none;
            padding: 5px 13px;
            outline: none;
            transition: background-color .3s,color .3s;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
          }
          .edit {
            color: #007fff;
            font-size: 14px;
          }
          .save {
            margin-right: 10px;
            font-size: 14px;
            color: #007fff;
          }
          .cancel{
            font-size: 14px;
          }
        }
      }
    }
  }
}